*~
*.o
*.a
__pycache__/
*.pyc
.tmp-*
mini/logfiles
mini/error-logs/
mini/host06/rp03.?
mini/host70/rp03.?
mini/host126/rp03.?
mini/host134/rp03.?
mini/host198/rp03.?
mini/host06-multics/sim-cache/
mini/host06-multics/kit-cache/
mini/host06-multics/runtime/
mini/host11/*.ckd
mini/host11/*.octal
mini/host11/SYSTEM.DMP.*
mini/host11/*.log
mini/host11/*.zip
mini/src/bbn-ncc/bbn-ncc
mini/src/apps/ncp-telnet
mini/src/ncpd-scanner/ncc
mini/src/waits-ncpd/waitsconnect
mini/topol/venv
web-terminals/*/venv
mini/imp62.local.simh
